@media (max-width:900px){

.servicio{

    flex-direction:column;

    padding:70px 20px;

    gap:40px;

}

.reverse{

    flex-direction:column;

}

.servicio-img img{

    height:320px;

}

.servicio-info{

    text-align:center;

}

.servicio-info ul{

    text-align:left;

    display:inline-block;

}

.servicio-info h3{

    font-size:35px;

}

}